includes:

parameters:
    phpVersion: 80200
    level: max
    paths:
        - ../../../src
        - ../../../tests
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    excludePaths:
        - ../../../src/Factory
        - ../../../src/DataFixtures
    bootstrapFiles: 
        - ../../../config/bootstrap.php
