{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		{{ form_start(
            form, 
                {
                    'action' : path('task_edit', { 'id' : task.id }), 
                    'method': 'POST'
                }
            )
        }}
		<div class="help-block">
			{{ form_errors(form) }}
		</div>

		<div class="row">
			{{ form_widget(form, {'attr': {'required': 'false'}}) }}
		</div>
		<button type="submit" class="btn btn-success pull-right">Modifier</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
